.idea
/zad1/__pycache__
/zad1/de/__pycache__
/zad1/pso/__pycache__
/zad1/pso_de/__pycache__
/zad2/__pycache__
/zad2/bat/__pycache__
/zad2/boa/__pycache__
.DS_Store
/zad3/pso_with_pattern/__pycache__
/zad3/__pycache__
/zad3/sma_with_pattern/__pycache__
